<div fxLayout="row" style="height: 100%">
  <div fxLayout="row" fxFlex="100">
    <div fxFlex="35" class="poc-card">
      <mat-card fxLayout="column" class="card-container card-input">
        <div fxLayout="column" fxLayoutGap="20px" class="p-15 p-b-25">
          <div fxFlex="50">
            <mat-form-field>
              <mat-label>Select API</mat-label>
              <mat-select [(ngModel)]="selectedAPI" (selectionChange)="selectionChange($event)">
                <mat-option *ngFor="let api of apiList" [value]="api">{{api}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="50">
            <mat-form-field>
              <mat-label>Search Option</mat-label>
              <mat-select [(ngModel)]="selectedOption">
                <mat-option *ngFor="let option of optionList" [value]="option">{{option}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="50" class="border-top p-15">
          <ng-container *ngIf="selectedAPI ===  'Office'">
            <div fxLayout="column" fxLayoutGap="10px">
              <mat-form-field fxFlex="50">
                <mat-label>Input 1</mat-label>
                <input matInput placeholder="Input 1" [(ngModel)]="pocInputs.input1">
              </mat-form-field>
              <mat-form-field fxFlex="50">
                <mat-label>Input 2</mat-label>
                <input matInput placeholder="Input 2" [(ngModel)]="pocInputs.input2">
              </mat-form-field>
            </div>
          </ng-container>
          <ng-container *ngIf="selectedAPI === 'Associate'">
            <div fxLayout="column" fxLayoutGap="20px">
              <mat-form-field fxFlex="50">
                <mat-label>Input 3</mat-label>
                <input matInput placeholder="Input 3" [(ngModel)]="pocInputs.input3">
              </mat-form-field>
              <mat-form-field fxFlex="50">
                <mat-label>Input 4</mat-label>
                <input matInput placeholder="Input 4" [(ngModel)]="pocInputs.input4">
              </mat-form-field>
            </div>
          </ng-container>
          <ng-container *ngIf="selectedAPI === 'Client Transactions'">
            <div fxLayout="column" fxLayoutGap="20px">
              <mat-form-field fxFlex="50">
                <mat-label>Input 5</mat-label>
                <input matInput placeholder="Input 5" [(ngModel)]="pocInputs.input5">
              </mat-form-field>
              <mat-form-field fxFlex="50">
                <mat-label>Input 6</mat-label>
                <input matInput placeholder="Input 6" [(ngModel)]="pocInputs.input6">
              </mat-form-field>
            </div>
          </ng-container>
          <ng-container *ngIf="selectedAPI === 'Client Interactions'">
            <div fxLayout="column" fxLayoutGap="20px">
              <mat-form-field fxFlex="50">
                <mat-label>Input 7</mat-label>
                <input matInput placeholder="Input 7" [(ngModel)]="pocInputs.input7">
              </mat-form-field>
              <mat-form-field fxFlex="50">
                <mat-label>Input 8</mat-label>
                <input matInput placeholder="Input 8" [(ngModel)]="pocInputs.input8">
              </mat-form-field>
            </div>
          </ng-container>
        </div>
      </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary">Submit</button>
    </div>
    <div fxFlex="65" class="poc-card">
      <span class="copy" [matTooltip]="'Copy'" (click)="copy(selectedText)">
            <button mat-stroked-button color="primary">Copy</button>
      </span>
      <mat-card class="card-container code-area">
        <pre class="formatted-text">{{selectedText | json}}</pre>
      </mat-card>
    </div>
  </div>
</div>
