.poc-card {
  padding: 20px;
  .card-container {
    border: 1px solid #ddd;
    height: 100%;
  }
  .code-area {
    padding: 0;
    background: #ecfaff;
  }
  .card-input {
    height: 95%;
  }
}

.formatted-text {
  position: relative;
  height: 100%;
  display: block;
  overflow-y: auto;
  overflow-x: auto;
}

mat-form-field {
  width: 100%;
}

hr {
  border: 1px solid #d8d8d8;
  width: 100%;
  margin: 20px 0;
}

.mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: green;
}
.copy {
  position: absolute;
  right: 50px;
  top: 28px;
  z-index: 1;
  cursor: pointer;
}

